<section class="container g-py-100">
	<div class="row g-mb-20">
		<div class="col-lg-6 g-mb-50">
			<!-- Heading -->
			<h2 class="h1 g-color-black g-font-weight-700 mb-4">How can we assist you?</h2>
			<p class="g-font-size-18 mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
			<!-- End Heading -->
		</div>
		<div class="col-lg-3 align-self-end ml-auto g-mb-50">
			<div class="media">
				<div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-033 u-line-icon-pro"></i>
                </span>
				</div>
				<div class="media-body align-self-center">
					<h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Phone Number</h3>
					<p class="mb-0">+32 (0) 333 444 555</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 align-self-end ml-auto g-mb-50">
			<div class="media">
				<div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-062 u-line-icon-pro"></i>
                </span>
				</div>
				<div class="media-body align-self-center">
					<h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Email Address</h3>
					<p class="mb-0">htmlstream@support.com</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
		{{else}}
		<div class="col-md-5">
			<form>
				<div class="form-group g-mb-20 {{#if validationErrors.name}}has-error{{/if}}">
					<label class="g-color-gray-dark-v2 g-font-size-13">Your name</label>
					<input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text" placeholder="John" value="{{formData.[name.full]}}">
				</div>


				<div class="form-group g-mb-20 {{#if validationErrors.name}}has-error{{/if}}">
					<label class="g-color-gray-dark-v2 g-font-size-13">Your email</label>
					<input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="email" placeholder="johndoe@gmail.com" value="{{formData.email}}">
				</div>

				<div class="form-group g-mb-20 {{#if validationErrors.name}}has-error{{/if}}">
					<label class="g-color-gray-dark-v2 g-font-size-13">Phone number</label>
					<input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="tel" placeholder="+1 (207) 555 1234" value="{{formData.phone}}">
				</div>

			</form>
		</div>
		<div class="col-md-7">
			<div class="form-group g-mb-40 {{#if validationErrors.name}}has-error{{/if}}">
				<label class="g-color-gray-dark-v2 g-font-size-13">Your message</label>
				<textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="12" placeholder="Hi there, I would like to ...">{{formData.message}}</textarea>
			</div>

			<div class="text-right">
				<button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35" type="submit" role="button">Send</button>
			</div>
		</div>
			{{/if}}
	</div>
	<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

		<input type=hidden name='captcha_settings' value='{"keyname":"DPC_Website","fallback":"true","orgId":"00D1I00000031sq","ts":""}'>
		<input type=hidden name="oid" value="00D1I00000031sq">
		<input type=hidden name="retURL" value="https://dontpanic.consulting/thank-you">

		<!--  ----------------------------------------------------------------------  -->
		<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
		<!--  these lines if you wish to test in debug mode.                          -->
		<!--  <input type="hidden" name="debug" value=1>                              -->
		<!--  <input type="hidden" name="debugEmail"                                  -->
		<!--  value="justin@dontpanic.consulting">                                    -->
		<!--  ----------------------------------------------------------------------  -->

		<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

		<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

		<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

		<label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

		<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>

		<label for="state">State/Province</label><input  id="state" maxlength="20" name="state" size="20" type="text" /><br>

		<label for="description">Description</label><textarea name="description"></textarea><br>

		<div class="g-recaptcha" data-sitekey="6Lcs7TAUAAAAAAu5FgQRM5wfFLi2TFlUXsnGoLp9"></div><br>
		<input type="submit" name="submit">

	</form>
</section>
