<!-- Promo Block -->
<section class="g-pos-rel">
	<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll"
		 data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
		<div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after"
			 style="height: 130%; background-image: url(/assets/img-temp/1920x700/img3.jpg);"></div>

		<div class="container g-bg-cover__inner g-py-100">
			<div class="row align-items-center">
				<div class="col-lg-6 g-mb-30 g-mb-0--lg">
					<h2 class="h1 text-uppercase g-color-white g-mb-30">
						<span class="g-bg-primary-dark-v3 g-px-5">Don't Panic!</span><br>
						<span class="g-bg-primary-dark-v3 g-px-5">The Salesforce</span><br>
						<span class="g-bg-primary-dark-v3 g-px-5">Is Strong With Us</span>
					</h2>
					<h3 class="h4 g-color-white">
						<span class="g-bg-black-opacity-0_6 g-px-5">From administration to development</span><br>
						<span class="g-bg-black-opacity-0_6 g-px-5">We create solutions for all</span><br>
						<span class="g-bg-black-opacity-0_6 g-px-5">Business processes</span>
					</h3>
				</div>
				<div class="col-lg-6">
					<!-- Vimeo Example -->
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="530" height="300" src="https://www.youtube.com/embed/32C2cTkwGuM" frameborder="0"
								frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
								allowfullscreen=""></iframe>

					</div>
					<!-- End Vimeo Example -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Promo Block -->


<section class="g-py-100">
	<header class="text-center g-mb-60">
		<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
			<h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Our Vision And Mission</h2>
		</div>
		<p class="lead g-px-200--lg">Create comprehensive solutions to business problems, utilizing the Salesforce
			platform to aid growth, business development, and business intelligence.</p>
	</header>

	<div class="row">
		<div class="col-lg-6 g-mb-40 g-mb-0--lg">
			<img class="img-fluid" src="/assets/img/lightning.png" alt="Image Description">
		</div>

		<div class="col-lg-6 align-self-center">
			<div class="media g-mb-20">
				<div class="d-flex mr-4">
    <span class="u-icon-v3 g-rounded-50x g-bg-primary g-color-white">
      <i class="icon-trophy"></i>
    </span>
				</div>
				<div class="media-body">
					<h3 class="g-font-size-default g-font-weight-600 text-uppercase g-mb-5">Practical Solutions</h3>
					<p>We like to keep things simple; Present us with your business needs, and we will present you with
						your solution.</p>
				</div>
			</div>

			<div class="media g-mb-20">
				<div class="d-flex mr-4">
    <span class="u-icon-v3 g-rounded-50x g-bg-primary g-color-white">
      <i class="icon-directions"></i>
    </span>
				</div>
				<div class="media-body">
					<h3 class="g-font-size-default g-font-weight-600 text-uppercase g-mb-5">Agile Performance</h3>
					<p>We take an iterative, agile approach to all of our projects. Always up to date, and ready to
						create.</p>
				</div>
			</div>

			<div class="media">
				<div class="d-flex mr-4">
    <span class="u-icon-v3 g-rounded-50x g-bg-primary g-color-white">
      <i class="icon-diamond"></i>
    </span>
				</div>
				<div class="media-body">
					<h3 class="g-font-size-default g-font-weight-600 text-uppercase g-mb-5">Quality Service &amp;
						Support</h3>
					<p>We provide world class support to our clients, with great self-service tools, and advanced
						administration and development services.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="g-brd-gray-light-v4 my-0">


<div class="col-md-12">
	<div id="shortcode2">
		<div class="shortcode-html">
			<!-- Info Blocks -->
			<div class="row align-items-stretch no-gutters">
				<div class="col-lg-6">
					<!-- Article -->
					<article
							class="h-100 text-left text-lg-right u-block-hover g-flex-middle g-color-white--hover g-bg-gray-dark-v1 g-transition-0_3 g-py-70 g-px-30 g-pr-150--lg">
						<div class="u-block-hover__additional--fade g-bg-size-cover g-bg-cover g-bg-primary-opacity-0_8--after g-pos-abs"
							 data-bg-img-src="/assets/img/salesforce-clouds.png"
							 style="background-image: url(/assets/img/salesforce-clouds.png);">
						</div>
						<div class="g-flex-middle-item g-pos-rel g-z-index-1">
							<h3 class="h5 g-color-white g-font-weight-700 text-uppercase g-mb-12">Salesforce Implementation</h3>
							<p class="g-color-white-opacity-0_7 mb-0">Custom implementation work on the Salesforce platform. 
								No matter the Cloud; Sales, Marketing, Service, etc., Don't Panic Consulting can take your 
								project from Discovery to Deployment.</p>
						</div>
					</article>
					<!-- End Article -->
				</div>

				<div class="col-lg-6">
					<!-- Article -->
					<article
							class="h-100 u-block-hover g-flex-middle g-color-white--hover g-bg-black g-transition-0_3 g-py-70 g-px-30 g-pl-150--lg">
						<div class="u-block-hover__additional--fade g-bg-size-cover g-bg-cover g-bg-primary-opacity-0_8--after g-pos-abs"
							 data-bg-img-src="/assets/img/data-integration.jpeg"
							 style="background-image: url(/assets/img/data-integration.jpeg);">
						</div>
						<div class="g-flex-middle-item g-pos-rel g-z-index-1">
							<h3 class="h5 g-color-white g-font-weight-700 text-uppercase g-mb-12">Data Integration</h3>
							<p class="g-color-white-opacity-0_7 mb-0">Get your business data out of their silos and integrated
							together, dynamically, so you can see the full picture. Internal data, external service data, all
							together in one place.</p>
						</div>
					</article>
					<!-- End Article -->
				</div>
			</div>

			<div class="row align-items-stretch no-gutters">
				<div class="col-lg-6">
					<!-- Article -->
					<article
							class="h-100 text-left text-lg-right u-block-hover g-flex-middle g-color-white--hover g-bg-black g-transition-0_3 g-py-70 g-px-30 g-pr-150--lg">
						<div class="u-block-hover__additional--fade g-bg-size-cover g-bg-cover g-bg-primary-opacity-0_8--after g-pos-abs"
							 data-bg-img-src="/assets/img/business-intelligence.jpeg"
							 style="background-image: url(/assets/img/business-intelligence.jpeg);">
						</div>
						<div class="g-flex-middle-item g-pos-rel g-z-index-1">
							<h3 class="h5 g-color-white g-font-weight-700 text-uppercase g-mb-12">Business Intelligence</h3>
							<p class="g-color-white-opacity-0_7 mb-0">Make decisions for your business based on data,
								not emotion. We can help you surface vital business data in your reporting to help you
								make fast, accurate decisions for your business.</p>
						</div>
					</article>
					<!-- End Article -->
				</div>

				<div class="col-lg-6">
					<!-- Article -->
					<article
							class="h-100 u-block-hover g-flex-middle g-color-white--hover g-bg-gray-dark-v1 g-transition-0_3 g-py-70 g-px-30 g-pl-150--lg">
						<div class="u-block-hover__additional--fade g-bg-size-cover g-bg-cover g-bg-primary-opacity-0_8--after g-pos-abs"
							 data-bg-img-src="/assets/img/artificial-intelligence.jpeg"
							 style="background-image: url(/assets/img/artificial-intelligence.jpeg);">
						</div>
						<div class="g-flex-middle-item g-pos-rel g-z-index-1">
							<h3 class="h5 g-color-white g-font-weight-700 text-uppercase g-mb-12">Artificial Intelligence</h3>
							<p class="g-color-white-opacity-0_7 mb-0">Integrate Cognitive analysis into your business using
								Salesforce Einstein or IBM's Watson artificial Intelligence Platforms. Understand sentiment and
								intent to help better serve your customers.</p>
						</div>
					</article>
					<!-- End Article -->
				</div>
			</div>

			<img class="hidden-md-down g-width-200 g-height-200 g-absolute-centered img-fluid img-thumbnail g-rounded-10"
				 src="/assets/img/icons/dpc-icon-230x230.png" alt="Image Description">
			<!-- End Info Blocks -->
			<!-- End Show Code -->
		</div>
	</div>
</div>


<hr class="g-brd-gray-light-v4 my-0">

<!-- Our Services -->
<section class="g-py-100">
	<div class="container">
		<header class="text-center g-width-60x--md mx-auto g-mb-50">
			<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
				<h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our
					Services</h2>
			</div>
			<p class="g-font-size-16">Unify's 1610+ easy to use and customizable UI elements make it most customizable
				theme on the market. Build websites easily as never before!</p>
		</header>

		<div class="row justify-content-center g-mb-20">
			<div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--md">
				<!-- Services -->
				<div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
					<!-- Services - Header -->
					<header class="text-center g-px-30 mb-5">
						<div class="g-mb-25">
							<span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
								<i class="icon-finance-211 u-line-icon-pro"></i>
							</span>
						</div>
						<h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Salesforce Development</h2>
						<p class="g-font-size-13">Custom coded solutions when declarative development is not enough.</p>
					</header>
					<!-- End Services - Header -->

					<!-- Services - List -->
					<ul class="list-unstyled mb-0">
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Apex</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Lightning Components</span>
						</li>
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Visualforce</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">SOQL / SOSL</span>
						</li>
					</ul>
					<!-- End Services - List -->
				</div>
				<!-- End Services -->
			</div>

			<div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--md">
				<!-- Services -->
				<div class="u-shadow-v29 g-bg-primary text-left text-md-center rounded g-py-40">
					<!-- Services - Header -->
					<header class="text-center g-px-35 mb-5">
						<div class="g-mb-25">
							<span class="u-icon-v3 u-icon-size--md g-color-text g-bg-secondary rounded-circle">
								<i class="icon-finance-257 u-line-icon-pro"></i>
							</span>
						</div>
						<h2 class="h5 g-color-white g-font-weight-600">Salesforce Administration</h2>
						<p class="g-color-white-opacity-0_9 g-font-size-13">We keep your Salesforce Organizations
							running smoothly</p>
					</header>
					<!-- End Services - Header -->

					<!-- Services - List -->
					<ul class="list-unstyled g-color-white-opacity-0_8 mb-0">
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#fff"></path>
							</svg>
							<span class="ml-3">Declarative Development</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#fff"></path>
							</svg>
							<span class="ml-3">Business Analysis</span>
						</li>
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#fff"></path>
							</svg>
							<span class="ml-3">Change Management</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#fff"></path>
							</svg>
							<span class="ml-3">Backup and Version Control</span>
						</li>
					</ul>
					<!-- End Services - List -->
				</div>
				<!-- End Services -->
			</div>

			<div class="col-md-6 col-lg-4">
				<!-- Services -->
				<div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
					<!-- Services - Header -->
					<header class="text-center g-px-35 mb-5">
						<div class="g-mb-25">
							<span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
								<i class="icon-communication-164 u-line-icon-pro"></i>
							</span>
						</div>
						<h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Custom Development</h2>
						<p class="g-font-size-13">Salesforce connected application and integration development.</p>
					</header>
					<!-- End Services - Header -->

					<!-- Services - List -->
					<ul class="list-unstyled mb-0">
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Data Integrations</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Mobile Applications</span>
						</li>
						<li class="d-flex align-items-center g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">API Development</span>
						</li>
						<li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
							<svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
								<path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
									  fill="#72c02c"></path>
							</svg>
							<span class="g-color-text ml-3">Web Services</span>
						</li>
					</ul>
					<!-- End Services - List -->
				</div>
				<!-- End Services -->
			</div>
		</div>
	</div>
</section>
<!-- End Our Services -->

<hr class="g-brd-gray-light-v4 my-0">

<!-- Our Recent Projects -->
<section class="g-py-100">
	<div class="container">
		<header class="g-mb-50">
			<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
				<h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Current
					Projects</h2>
			</div>
			<p class="g-font-size-16">At Don't Panic Consulting, we love to push the limits of our craft. By focusing on
				Salesforce and Javascript development, we maintain a high degree of quality, while being able to build
				anything our clients require.</p>
		</header>

		<div class="row">
			{{#each data.projects}}
				<div class="col-lg-4 col-md-6">
					<article class="u-block-hover u-shadow-v21 rounded">
						<figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
							{{#if content.image}}<img class="img-fluid w-100 u-block-hover__main--zoom-v1"
													  src="{{{cloudinaryUrl data.post.image width=750 height=450
																			crop='fit' }}}"
													  alt="{{imageDescription}}">{{/if}}
						</figure>

						<header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
							<h3 class="h4">
								<a class="g-color-white" href="#">{{title}}</a>
							</h3>
							<p>{{content.brief}}</p>
						</header>

						<ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
							<li class="list-inline-item">
								<div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
									<img class="g-width-30 g-height-30 rounded-circle"
										 src="/assets/img-temp/100x100/img12.jpg" alt="Image description">
								</div>
							</li>
							<li class="list-inline-item g-ml-minus-20">
								<div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
									<img class="g-width-30 g-height-30 rounded-circle"
										 src="/assets/img-temp/100x100/img5.jpg" alt="Image description">
								</div>
							</li>
							<li class="list-inline-item g-ml-minus-20">
								<div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
									<img class="g-width-30 g-height-30 rounded-circle"
										 src="/assets/img-temp/100x100/img7.jpg" alt="Image description">
								</div>
							</li>
							<li class="list-inline-item g-font-weight-600 g-color-white">+21</li>
						</ul>
					</article>
				</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- End Our Recent Projects -->

<!-- Latest News -->
<section class="g-py-100">
	<div class="container">
		<header class="text-center g-width-60x--md mx-auto g-mb-50">
			<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
				<h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Latest
					News</h2>
			</div>
			<p class="g-font-size-16">Keep up to date with Don't Panic Consulting's latest projects, Salesforce updates,
				developer news and research.</p>
		</header>

		<div class="row">
			{{#each data.articles}}
				<div class="col-lg-4 g-mb-30">
					<!-- Article -->
					<article class="u-shadow-v21 g-bg-white rounded">
						<div class="g-pa-30">
							<h3 class="g-font-weight-300 g-mb-15">
								<a class="u-link-v5 g-color-main g-color-primary--hover" href="#">{{title}}</a>
							</h3>
							<p>{{subtitle}}</p>
						</div>

						<div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
							<img class="d-flex g-width-20 g-height-20 rounded-circle g-mr-10"
								 src="/assets/img-temp/100x100/img5.jpg" alt="Image Description">
							<div class="media-body align-self-center">
								<a class="u-link-v5 g-color-main g-color-primary--hover"
								   href="#">{{author.name.full}}</a>
							</div>

							<div class="align-self-center">
								<a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
									<i class="icon-bubbles align-middle g-mr-3"></i> {{comments}}
								</a>
								<a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
									<i class="icon-eye align-middle g-mr-3"></i> {{views}}
								</a>
							</div>
						</div>
					</article>
					<!-- End Article -->
				</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- End Latest News -->


