<h1>Hi %recipient.firstName%</h1>
<p class="text-larger">An enquiry was just submitted to {{brand}}:</p>
{{#if enquiry.email}}
	<ul>
		<li class="text-larger">From
			{{#if enquiry.name.full}}
				<strong>{{enquiry.name.full}}</strong>
			{{/if}}

			{{#if enquiry.email}}
				(<a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>)
			{{/if}}
		</li>

		{{#if enquiry.phone}}
			<li class="text-larger">Phone: {{enquiry.phone}}</li>
		{{/if}}

		{{#if enquiry.enquiryType}}
			<li class="text-larger">{{underscoreFormat enquiry 'enquiryType'}}</li>
		{{/if}}
		<li class="text-muted">Sent {{underscoreFormat enquiry 'createdAt'}}</li>
	</ul>
	{{#if enquiry.message}}
		{{{enquiry.message.html}}}
	{{/if}}


{{/if}}
